body {
}

* {
    margin: 0px;
    padding: 0px;
}

section {
    width: 1000px;
    height: 1500px;
    margin: 0px auto;
    background-color: cadetblue;
    position: relative;
}

div {
    position: absolute;
    width: 1000px;
}

p {
    position: absolute;
    height: 100px;
    width: 250px;
    background-color: white;
}

#p1 {
    top: 10px;
    left: 400px;
}

#p2 {
    top: 100px;
    left: 600px;
}

#p3 {
    top: 400px;
    left: 100px;
}

#p4 {
    top: 400px;
    left: 600px;
}

#p5 {
    top: 700px;
    left: 100px;
}

#p6 {
    top: 700px;
    left: 600px;
}

#d1 {
    top: 0px;
    height: 150px;
    width: 1000px;
    border-bottom: solid 2px white;
    /*background-color: cadetblue;*/
}

#d2 {
    float: right;
    width: 150px;
    background-color: cadetblue;
    border-right: solid 2px white;
    height: 1500px;
    margin-top: 0px;
}

#d3 {
    /*top: 200px;*/
    /*top: 354px;
    width: 800px;
    height: 1246px;
    border-bottom: solid 2px white;*/
    /*z-index: -1;*/
    top: 150px;
    height: 90px;
    width: 1000px;
    border-bottom: solid 2px white;
}
#d4 {
    /*top: 200px;*/
    /*top: 354px;
    width: 800px;
    height: 1246px;
    border-bottom: solid 2px white;*/
    /*z-index: -1;*/
    float: right;
    width: 198px;
    border-left: solid 2px white;
    height: 1296px;
    margin-top: 102px;
}

span {
    clear: both;
}
body {
}
